{% extends 'Home/index.html' %}
{% load static %}

{% block title %}
    <title>Guest Announcements - {{announcement_1.title}}</title>
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'Home/announcement.css' %}">
{% endblock %}

{% block announcements-active %}active{% endblock %}

{% block main-content %}
    <article class="panel announcement general-information">
      <div class="heading">
        <h2>{{announcement_1.title}}</h2>
        <footer>
            {{announcement_1.time_announced}}
        </footer>
      </div>
        <!--<article>-->
            <p>{{announcement_1.content | linebreaks}}</p>
        <!--</article>-->
    </article>
{% endblock %}
