{% extends 'Home/index.html' %}
{% load static %}

{% block title %}
    <title>Guest Announcements</title>
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'Home/announcement.css' %}">
{% endblock %}

{% block announcements-active %}active{% endblock %}

{% block main-content %}
    <article class="panel announcement general-information">
        <h2>General Information</h2>
        {% for announcement in announcements %}
        <article style="--order: 1">
            <a class="heading" href="#"><!--<h3>THÔNG BÁO VỀ KHẢO SÁT SINH VIÊN TỐT NGHIỆP_HỌC KỲ 1 NĂM HỌC 2020-2021-->{{announcement.title}}<!--</h3>-->
            </a>
            <footer>
                <time datetime=<!--"2021-05-16 19:00">16/05/2021-->announcement.time_announced>{{announcement.time_announced}}<!--</time>-->
            </footer>
        </article>
        {% endfor %}
        <!--<article style="--order: 2">
            <a class="heading" href="#"><h3>THÔNG BÁO VỀ VIỆC TỔ CHỨC DẠY VÀ HỌC TRỰC TUYẾN MÔN GIÁO DỤC THỂ CHẤT CỦA
                HỌC KỲ 2, NĂM HỌC
                2020-2021</h3></a>
            <footer>
                <time datetime="2021-05-16 19:00">16/05/2021</time>
            </footer>
        </article>
        <article style="--order: 3">
            <a class="heading" href="#"><h3>ACADEMIC CALENDAR 2021 - 2022</h3></a>
            <footer>
                <time datetime="2021-05-16 19:00">16/05/2021</time>
            </footer>
        </article>
        <article style="--order: 4">
            <a class="heading" href="#"><h3>THÔNG BÁO VỀ VIỆC ĐIỀU CHỈNH ĐĂNG KÝ MÔN HỌC HỌC KỲ 1, NĂM HỌC 2021 – 2022 /
                ANNOUNCEMENT: ABOUT
                SCHEDULE ADJUSTMENT IN 1ST SEMESTER, ACADEMIC YEAR 2021 - 2022</h3></a>
            <footer>
                <time datetime="2021-05-16 19:00">16/05/2021</time>
            </footer>
        </article>-->
        <footer>
            <a class="view-all-btn" href="#">View All</a>
        </footer>
    </article>
{% endblock %}
