{% extends 'Home/index.html' %}
{% load static %}

{% block title %}
    <title>Active Courses</title>
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'User/active-courses.css' %}">
{% endblock %}

{% block header-class %}user-login{% endblock header-class %}

{% block header-nav-ul %}
    <li>
        <div class="my-profile" href="#" tabindex="0">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M12.8723 15.78C12.7318 15.9207 12.5412 15.9999 12.3423 16H11.9623C11.7639 15.9977 11.574 15.9189 11.4323 15.78L6.30232 10.64C6.20766 10.5462 6.15442 10.4184 6.15442 10.285C6.15442 10.1517 6.20766 10.0239 6.30232 9.93004L7.01232 9.22004C7.10448 9.12598 7.23063 9.07297 7.36232 9.07297C7.49401 9.07297 7.62015 9.12598 7.71232 9.22004L12.1523 13.67L16.5923 9.22004C16.6862 9.12539 16.814 9.07214 16.9473 9.07214C17.0806 9.07214 17.2084 9.12539 17.3023 9.22004L18.0023 9.93004C18.097 10.0239 18.1502 10.1517 18.1502 10.285C18.1502 10.4184 18.097 10.5462 18.0023 10.64L12.8723 15.78Z"
                        fill="currentColor"/>
            </svg>
            <ul class="drop-down-menu">
                <li><a class="info btn" href="#">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M12.1553 4C9.9453 4 8.15376 5.79086 8.15376 8C8.15376 9.06087 8.57535 10.0783 9.32578 10.8284C10.0762 11.5786 11.094 12 12.1553 12C14.3652 12 16.1568 10.2091 16.1568 8C16.1568 5.79086 14.3652 4 12.1553 4ZM18.6077 15.66L20.0483 18.55C20.2043 18.8595 20.1889 19.2277 20.0075 19.5231C19.8261 19.8185 19.5046 19.999 19.1579 20H5.15263C4.8059 19.999 4.48444 19.8185 4.30307 19.5231C4.12169 19.2277 4.10626 18.8595 4.26229 18.55L5.70283 15.66C6.21182 14.6408 7.25432 13.9978 8.39385 14H15.9167C17.0562 13.9978 18.0987 14.6408 18.6077 15.66Z"
                              fill="currentColor"/>
                    </svg>
                    Personal Information</a></li>
                <li><a class="log-out btn" href="#">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="logout-icon-svg">
                            <path id="Icon color" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M5.15234 19H10.6523C10.9285 19 11.1523 19.2239 11.1523 19.5V20.5C11.1523 20.7761 10.9285 21 10.6523 21H5.15234C4.04777 21 3.15234 20.1046 3.15234 19V5C3.15234 3.89543 4.04777 3 5.15234 3H10.6523C10.9285 3 11.1523 3.22386 11.1523 3.5V4.5C11.1523 4.77614 10.9285 5 10.6523 5H5.15234V19ZM15.7923 6.15L20.9323 11.28C21.0712 11.4217 21.15 11.6116 21.1523 11.81V12.19C21.1522 12.3888 21.073 12.5795 20.9323 12.72L15.7923 17.85C15.6985 17.9447 15.5707 17.9979 15.4373 17.9979C15.304 17.9979 15.1762 17.9447 15.0823 17.85L14.3723 17.15C14.2777 17.0561 14.2244 16.9283 14.2244 16.795C14.2244 16.6617 14.2777 16.5339 14.3723 16.44L17.8223 13H7.65234C7.3762 13 7.15234 12.7761 7.15234 12.5V11.5C7.15234 11.2239 7.3762 11 7.65234 11H17.8223L14.3723 7.56C14.2783 7.46784 14.2253 7.34169 14.2253 7.21C14.2253 7.07831 14.2783 6.95216 14.3723 6.86L15.0823 6.15C15.1762 6.05534 15.304 6.0021 15.4373 6.0021C15.5707 6.0021 15.6985 6.05534 15.7923 6.15Z"
                                  fill="currentColor"/>
                        </g>
                    </svg>
                    Log out</a></li>
            </ul>
            <p><b>Do Quang Minh</b><br>
                ITITIU19141</p>
            <img src="{% static 'icons/small-avatar-icon-svg.svg' %}" alt="My avatar">
        </div>

    </li>
{% endblock header-nav-ul %}

{% block main-content %}
  <article class="panel">
    <h2>My Active Courses</h2>
    <div class="courses-grid">
      <!-- !Add inline style ordering for these cards -->
      <a class="card" style="--order: 1" href="#">
        <img class="cover" src="{% static 'images/class-image-png.png' %}" alt="Course Cover">
        <div class="teacher-profile">
          <img src="{% static 'icons/small-avatar-icon-svg.svg' %}" alt="My avatar">
          <p>Instructor<br>
            <b>Nguyen Thi Thuy Loan</b></p>
        </div>
        <h3 class="course-name">Software Engineering_S1_2021-22_G02</h3>
      </a>
      <a class="card" style="--order: 2" href="#">
        <img class="cover" src="{% static 'images/class-image-png.png' %}" alt="Course Cover">
        <div class="teacher-profile">
          <img src="{% static 'icons/small-avatar-icon-svg.svg' %}" alt="My avatar">
          <p>Instructor<br>
            <b>Nguyen Thi Thuy Loan</b></p>
        </div>
        <h3 class="course-name">Software Engineering_S1_2021-22_G02</h3>
      </a>
      <a class="card" style="--order: 3" href="#">
        <img class="cover" src="{% static 'images/class-image-png.png' %}" alt="Course Cover">
        <div class="teacher-profile">
          <img src="{% static 'icons/small-avatar-icon-svg.svg' %}" alt="My avatar">
          <p>Instructor<br>
            <b>Nguyen Thi Thuy Loan</b></p>
        </div>
        <h3 class="course-name">Software Engineering_S1_2021-22_G02</h3>
      </a>
      <a class="card" style="--order: 4" href="#">
        <img class="cover" src="{% static 'images/class-image-png.png' %}" alt="Course Cover">
        <div class="teacher-profile">
          <img src="{% static 'icons/small-avatar-icon-svg.svg' %}" alt="My avatar">
          <p>Instructor<br>
            <b>Nguyen Thi Thuy Loan</b></p>
        </div>
        <h3 class="course-name">Software Engineering_S1_2021-22_G02</h3>
      </a>
      <a class="card" style="--order: 5" href="#">
        <img class="cover" src="{% static 'images/class-image-png.png' %}" alt="Course Cover">
        <div class="teacher-profile">
          <img src="{% static 'icons/small-avatar-icon-svg.svg' %}" alt="My avatar">
          <p>Instructor<br>
            <b>Nguyen Thi Thuy Loan</b></p>
        </div>
        <h3 class="course-name">Software Engineering_S1_2021-22_G02</h3>
      </a>
      <a class="card" style="--order: 6" href="#">
        <img class="cover" src="{% static 'images/class-image-png.png' %}" alt="Course Cover">
        <div class="teacher-profile">
          <img src="{% static 'icons/small-avatar-icon-svg.svg' %}" alt="My avatar">
          <p>Instructor<br>
            <b>Nguyen Thi Thuy Loan</b></p>
        </div>
        <h3 class="course-name">Software Engineering_S1_2021-22_G02</h3>
      </a>
      <a class="card" style="--order: 7" href="#">
        <img class="cover" src="{% static 'images/class-image-png.png' %}" alt="Course Cover">
        <div class="teacher-profile">
          <img src="{% static 'icons/small-avatar-icon-svg.svg' %}" alt="My avatar">
          <p>Instructor<br>
            <b>Nguyen Thi Thuy Loan</b></p>
        </div>
        <h3 class="course-name">Software Engineering_S1_2021-22_G02</h3>
      </a>
      <a class="card" style="--order: 8" href="#">
        <img class="cover" src="{% static 'images/class-image-png.png' %}" alt="Course Cover">
        <div class="teacher-profile">
          <img src="{% static 'icons/small-avatar-icon-svg.svg' %}" alt="My avatar">
          <p>Instructor<br>
            <b>Nguyen Thi Thuy Loan</b></p>
        </div>
        <h3 class="course-name">Software Engineering_S1_2021-22_G02</h3>
      </a>
    </div>
  </article>
{% endblock %}

{% block footer-class %}user-login{%  endblock footer-class %}
