<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=*[[$]]*, initial-scale=*[[$1.0$]]*">
  <title>Title</title>
</head>
<body>
<h1>Change Password Success</h1>

{% if user.user_type == 'Student' %}
<a href="{% url 'student-about' user.student.id %}">OK</a>
{% elif user.user_type == 'Lecturer' %}
<a href="{% url 'lecturer-about' user.lecturer.id %}">OK</a>
{% else %}
<a href="#">OK</a>
{% endif %}

</body>
</html>