{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
    <title>Index</title>
  {% endblock title %}

  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'Home/base.css' %}">
  <link rel="stylesheet" href="{% static 'User/loginpage.css' %}">
</head>

<body>
<div id="background"><img src="{% static 'images/signin-background-image-png.png' %}"></div>
<div class="mainpanel">
  <div class="innerpanel">
    <div class="part1">
      <div class="iulogo">
        <a href="{% url 'guest-announcement-page' %}">
          <img src="{% static 'images/iu-image-png.png' %}" alt="IU Logo">
        </a>
      </div>
      <div><h3 class="projectname"><b>Learning Management System</b></h3></div>
    </div>
    <div class="part2">
      <form method="post">
        {% csrf_token %}
        <div class="loginpanel">
          <div>{{ form.as_p }}</div>
          <div class="forgotusernorpass"><a href="{% url 'passwordreset' %}" target="_blank"><i><u>Forgot username or password?</u></i></a>
        </div>
        <input class="loginbutton" type="submit" value="Login" name="login"/>
      </form>
      <p class="or"><span><b>or</b></span></p>
      <a class="loginasguessbutton" href="{% url 'logout' %}">Login as Guest</a>
    </div>
  </div>
</div>
</div>
</body>
</html>

