{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'User/loginpage.css' %}">
        <!-- <link rel="stylesheet" href="base.css"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackboard Learn</title>
        <link rel = "icon" href = "images/blackboard_icon.png" type ="image/x-icon">
    </head>

    <body>
        <div class="mainpanel">
            <div class="innerpanel">
                <div class="part1">
                    <div class="logo">
                        <a href="#" target="_blank"><img width="164" height="162" src="images/iu-image-png.png"></a>
                    </div>
                    <h3 class="projectname"><b>Learning Management System</b></h3>
                </div>
                <div class="part2">
                    <p class="loginas"><b>Login as</b></p>
                    <div class="loginpanel">
                            <div class="username"><input type="text" name="uusern" class="user" size="25" maxlength="50" autocomplete="off" placeholder="Username" required></div>
                            <div class="password"><input type="password" name="passw" class="pass" size="25" maxlength="50" autocomplete="off" placeholder="Password" required></div>
                    </div>
                    <div class="forgotusernorpass"><a href="#" target="_blank"><i><u>Forgot username or password?</u></i></a></div>
                    <div class="loginbutton">
                        <input class="button" type="submit" value="Login" name="login" class="button expand"/>
                    </div>
                    <p class="or"><span><b>OR</b></span></p>
                    <div class="loginasguessbutton">
                        <input class="button" type="submit" value="Login as Guest" name="login as Guest" class="button expand"/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>