{% extends 'Home/index.html' %}
{% load static %}

{% block title %}
    <title>Personal Information</title>
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'User/personal-info.css' %}">
{% endblock %}

{% block main-content %}
<section class="panel announcement personal-information">
            <h2>Personal Information</h2>
            <section class="information">
                <div class="container">
                    <div class="left-col">
                        <img src="{% static 'icons/big-avatar-icon-svg.svg' %}" class="my-avatar" alt="My avatar">
                    </div>

                    <section class="information-list">
                        <table>
                            <tr>
                                <th>NAME</th>
                                <td>{{ user.full_name|upper }}</td>
                            </tr>
                            <tr>
                                <th>ROLE</th>
                                <td>{{ user.user_type }}</td>
                            </tr>
                            <tr>
                                <th>MAJOR</th>
                                <td>{{ student.major_id.name }}</td>
                            </tr>
                            <tr>
                                <th>DEPARTMENT</th>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <th>EMAIL ADDRESS</th>
                                <td>{{ user.email|urlize }}</td>
                            </tr>
                            <tr>
                                <th>DATE OF BIRTH</th>
                                <td>N/A</td>
                            </tr>
                        </table>
                        <footer class="change-password">
                            <a class="change-password-btn" href="{% url 'student-change-password' user.student.id %}">Change Password</a>
                        </footer>
                    </section>
                </div>
            </section>
        </section>
{% endblock %}
