{% extends 'Classwork/base-test.html' %}
{%block body%}
<form method = "POST">
  {% csrf_token %}
  <div id="questionform">
  
  </div>
  <div>
    <button hx-get="{% url 'written-form' id class_id %}" hx-swap = "beforeend" hx-target="#questionform">Add new written question</button>
    <button hx-get="{% url 'multiplechoice-form' id class_id %}" hx-swap = "beforeend" hx-target="#questionform">Add new multiple choice question</button>
  </div>
  <div>
    <button type="submit">
      Save
    </button>
  </div>
  </form>
{% endblock body %}