{% extends 'Classwork/base-test.html' %}
{% load static %}

{% block title %}
  <title>{{ student_class.course.name }} - {{ student_class.schedule }} Take Assignment</title>
{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'User/base-upload.css' %}">
  <link rel="stylesheet" href="{% static 'User/upload-announcement.css' %}">
  <script src="{% static 'User/upload-content.js' %}" defer></script>
{% endblock %}

{% block panel-content %}
<article>
    <div class="title">
        <h3>{{test.test_name}}</h3>
    </div>
    <div>
        <p>{{test.test_description}}</p>
    </div>
    <p><a href="{% url 'download-test-file' id class_id test.id%}">Download test file</a>
        {% if not done %}
    <form method="POST" action="#" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <hr>
        <div><input type="submit" value='Submit test'></div>
    </form>
    {% else %}
    <div>
        <p>You have already done this test (<a href="{% url 'download-student-file' id class_id studenttest.id %}">Download
                your submission</a>)</p>
        <hr>
        {%if grade%}
        <p>Your grade is {{grade}}</p>
        {%else%}
        <p>Test is ungraded</p>
        {%endif%}
        <a href="{% url 'student-class-assignment-page' id class_id%}">Return</a>
    </div>
    {% endif %}
</article>

{% endblock %}