{% extends 'Classwork/base-test.html'%}
{%block body%}
  {% for answer in test.studentanswer_set.all %}
  <h2>{{answer.question}}</h2>
  {%if answer.question.is_written%}
  <p>{{answer.written_ans}}</p>
  {%else%}
  <ul>
    {%for a in answer.choice_ans.all%}
    <li>{{a.option}}</li>
    {%endfor%}
  </ul>
  {%endif%}
  {%endfor%}
  <hr>
  <div>
    <p>Correct multiple choice answers: {{right}}</p>
  </div>
  <form action="" method="POST">
    {%csrf_token%}
    <label for="grade">Grade:</label>
    <input type="number" name="grade" id="" step=".01">
    <button type="submit">CONFIRM GRADING</button>
  </form>
{%endblock body%}