{% extends 'Classwork/base-test.html'%}
{%block body%}
{% if test.is_quiz %}
  {% for answer in test.studentanswer_set.all %}
  <h2>{{answer.question}}</h2>
  {%if answer.question.is_written%}
  <p>{{answer.written_ans}}</p>
  {%else%}
  <ul>
    {%for a in answer.choice_ans.all%}
    <li>{{a.option}}</li>
    {%endfor%}
  </ul>
  {%endif%}
  {%endfor%}
  <hr>
  <div>
    <p>Correct multiple choice answers: {{right}}</p>
  </div>
{% else %}
  <a href="{% url 'download-student-file' id class_id test.id %}">Download file submission</a>
{% endif %}
<form action="" method="POST">
  {%csrf_token%}
  <label for="grade">Grade:</label>
  <input type="number" name="grade" id="" step=".01" value="{{grade}}">
  <button type="submit">CONFIRM GRADING</button>
</form>
{%endblock body%}