{% extends 'Courses/base.html' %}


{% block column_names %}
    <th scope="col">#</th>
    <th scope="col">Course</th>
    <th scope="col">Lecturer</th>
    <th scope="col">Weekday</th>
    <th scope="col">Start time</th>
    <th scope="col">Duration</th>
{% endblock column_names %}

{% block content %}
    {% for class in classes %}
        <tr>
            <th scope="row">{{ class.id }}</th>
                <td>{{ class.course }}</td>
                <td>{{ class.lecturer.user_id.full_name }}</td>
                <td>{{ class.schedule.day_of_the_week }}</td>
                <td>{{ class.schedule.start_time }}</td>
                <td>{{ class.schedule.duration }}</td>
            </tr>
    {% endfor %}
{% endblock content %}
