<!DOCTYPE html>

<head>
    <title>{{ content_post.title }}</title>
</head>

<body>
    <h2>{{ content_post.title }}</h2>
    <time><h3>{{ content_post.time_modified.date }}<br>{{ content_post.time_modified.time | time:"g:iA" }}</h3></time>
    <p>{{ content_post.content }}</p>
    <a href="{% if user.user_type == 'Student' %}{% url 'student-download-content' id class_id content_post.id %}
             {% elif user.user_type == 'Lecturer' %}{% url 'lecturer-download-content' id class_id content_post.id %}
             {% endif %}"><h3>Download</h3></a>
</body>