{% extends 'Courses/base-class-course.html' %}
{% load static %}

{% block title %}
<title>{{ class }} Student List</title>
{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'Courses/class-student-list.css' %}">
{% endblock %}

{% block class-view-student-list-active %}active{% endblock %}

{% block panel-content %}
  <article>
    <div class="number">
      <p>1</p>
    </div>
    <div class="name">
      <p>Do Quang Minh</p>
    </div>
    <div class="id">
      <p>ITITIU19028</p>
    </div>
    <div class="email">
      <p>minh.do@student.com</p>
    </div>
  </article>
  

{% endblock %}
