{% extends 'Courses/base-class-course.html' %}
{% load static %}

{% block title %}
  <title>{{ lecturer_class.course.name }}</title>
{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'Courses/student-class-announcement.css' %}">
{% endblock %}

{% block upload %}
  <li><a href="{% url 'upload-class-announcement-page' user.lecturer.id lecturer_class.id %}">Upload</a>
  </li>
{% endblock upload %}

{% block class-announcements-active %}active{% endblock %}

{% block panel-content %}

  <article>
    <div class="heading">
      <h3>{{ announcement.title }}</h3>
      <footer>
        <time datetime="2021-09-08 19:00">Wednesday, September 8, 2021<br>8:23:03 PM</time>
      </footer>
    </div>
    <p>{{ announcement.content }}</p>
  </article>
{% endblock %}
