{% extends 'Courses/base-class-course.html' %}
{% load static %}

{% block title %}
  <title>{{ lecturer_class.course.name }}</title>
{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'Courses/student-class-announcement.css' %}">
{% endblock %}

{% block upload %}
  <li><a href="{% url 'upload-class-announcement-page' user.lecturer.id lecturer_class.id %}">Upload</a>
  </li>
{% endblock upload %}

{% block class-announcements-active %}active{% endblock %}

{% block panel-content %}
  {% for announcement in announcements %}
    <article>
      <div class="heading">
        <h3>{{ announcement.title }}</h3>
        <footer>
          <time>{{ announcement.time_created.date }}<br>{{ announcement.time_created.time | time:"g:iA" }}</time>
        </footer>
      </div>
      <p>{{ announcement.content | linebreaks }}</p>
    </article>
  {% endfor %}
{% endblock %}
