{% extends 'Courses/base.html' %}


{% block column_names %}
    <th scope="col">#</th>
    <th scope="col">Weekday</th>
    <th scope="col">Class</th>
    <th scope="col">Start time</th>
    <th scope="col">Duration</th>
{% endblock column_names %}

{% block content %}
    {% for i in classes %}
        {% if i.is_displayable %}
            <tr>
                <th scope="row">{{ i.id }}</th>
                    <td>{{ i.schedule.day_of_the_week }}</td>
                    <td>{{ i }}</td>
                    <td>{{ i.schedule.start_time }}</td>
                    <td>{{ i.schedule.duration }}</td>
            </tr>
        {% endif %}
    {% endfor %}
{% endblock content %}
