{% extends 'Courses/base-class-course.html' %}
{% load static %}

{% block title %}
  <title>{{ student_class.course.name }}</title>
{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'Courses/student-class-content.css' %}">
{% endblock %}

{% block class-content-active %}active{% endblock %}

{% block panel-content %}
  {% for content_post in content_posts %}
    <article>
    <div class="heading">
      <img class="icon" src="{% static 'icons/file-icon-svg.svg' %}" alt="file icon">
      <h3>{{ content_post.title }}</h3>
      <footer>
        <time>{{ content_post.time_created.date }}<br>{{ content_post.time_created.time | time:"g:iA" }}</time>
      </footer>
    </div>
    <p>Attached Files: Chapter 2 (4.114 MB)</p>
    <p>{{ content_post.content | linebreaks }}</p>
  </article>
  {% endfor %}
{% endblock %}
