main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4rem;
  gap: 2rem;
  min-height: 100vh;
  background: linear-gradient(-45deg, var(--gray-dark), var(--gray-default));
}

main svg {
  color: var(--gray-lighter);
}

main svg .step1 {
  stroke-dasharray: var(--length);
  /*stroke-dashoffset: calc(var(--length) * 1);*/
  stroke-dashoffset: var(--length);
  animation: sign 5s ease forwards;
  animation-delay: calc(var(--order) * 5s);
}

main svg .step2 {
  stroke-dasharray: var(--length);
  /*stroke-dashoffset: calc(var(--length) * 1);*/
  stroke-dashoffset: var(--length);
  animation: sign 1s ease forwards;
  animation-delay: calc(5.5s * 3);
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}
