{% extends 'Home/index.html' %}
{% load static %}

{% block title %}
    <title>Staff Contact</title>
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'User/personal-info.css' %}">
{% endblock %}

{% block main-content %}
<section class="panel announcement personal-information">
            <h2>Staff Contact</h2>
            <section class="information">
                <div class="container">
                    <div class="left-col">
                        <img src="{% static 'icons/big-avatar-icon-svg.svg' %}" class="my-avatar" alt="My avatar">
                    </div>

                    <section class="information-list">
                        <table>
                            <tr>
                                <th>NAME</th>
                                <td>{{ lecturer.full_name|upper }}</td>
                            </tr>
                            <tr>
                                <th>ROLE</th>
                                <td>Instructor</td>
                            </tr>
                            <tr>
                                <th>DEPARTMENT</th>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <th>PHONE NUMBER</th>
                                <td>{{ lecturer.phone_number }}</td>
                            </tr>
                            <tr>
                                <th>EMAIL ADDRESS</th>
                                <td>{{ lecturer.email|urlize }}</td>
                            </tr>
                        </table>
                    </section>
                </div>
            </section>
        </section>
{% endblock %}
